.crow-header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 20px;
  .crow-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    .crow-header-logo {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 24px;
      .crow-header-logo-text {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #020202;
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  .crow-header {
    flex-direction: column;
    align-items: flex-start;
    .crow-header-left {
      width: 100%;
      .crow-header-logo {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
    .crow-header-right {
      margin-top: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
