.homepage-container {
  display: flex;
  flex-direction: column;

  padding-top: 250px;

  background: linear-gradient(
    180deg,
    #cfe8ff 0%,
    #ffffff 41.67%,
    #cfe8ff 73.81%,
    #ffffff 100%
  );
}
